/* Reset & Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI';
  background-color: #89d4ff;
  color: #333;
  line-height: 1.6;
}

/* Header */
header {
  background-color: #004080;
  color: white;
  width: 100vw;
  height: 11vh;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links li a:hover {
  text-decoration: underline;
}


.beeYlinks{
  width: 40vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #03377b;

}

.beeYlinks li {
  margin-top: 1rem;
  margin-left: 2rem;
  
}

.beeYlinks li a{
  text-decoration: none;
  font-size: 1.2rem;
  color: beige;
}
