/* Reset & Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI';
  background-color: #89d4ff;
  color: #333;
  line-height: 1.6;
}

/* Header */
header {
  background-color: #004080;
  color: white;
  width: 100vw;
  height: 11vh;
  /* position: fixed; */
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links li a:hover {
  text-decoration: underline;
}


.y-links{
  width: 100vw;
  height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  background-color: #37b8ef;
  border-radius: 15px;
  box-shadow: 4px 4px rgb(1, 34, 95);
}

.beeYlinks{
  height: 40vh;
  width: 60vw;
  margin-top: 30px;
  background-color: #e5eae3;
  border-radius: 15px;
  box-shadow: 4px 4px 15px rgb(1, 34, 95);
}

.beeYlinks li{
  list-style-type: none;
  padding: 1rem;

}
.beeYlinks li a{
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(250px , 1fr));
  background-color: #043873;
  color: #e5eae3;
  font-size: 1.3rem;
  text-decoration: none;
  border-radius: 10px;
  padding-left: 1rem;
  
}

.beeYlinks li a:hover{
  background-color: #03146c;

}